<a href="https://colab.research.google.com/github/AbuKaisar24/Data-Scraping-Using-BeautifulSoup/blob/master/Scraping_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import re
import time

In [0]:
url = "https://www.dailymail.co.uk"

In [0]:
# Request
r1 = requests.get(url)
r1.status_code

# We'll save in coverpage the cover page content
coverpage = r1.content

# Soup creation
soup1 = BeautifulSoup(coverpage, 'html5lib')

# News identification
coverpage_news = soup1.find_all('h2', class_='linkro-darkred')
len(coverpage_news)

89

In [0]:
coverpage_news[5]

<h2 class="linkro-darkred">
    <a href="/news/article-7569277/Gwyneth-Paltrow-fire-leanest-liveable-weight-goal-appeared-lifestyle-website.html" itemprop="url">Gwyneth Paltrow comes under fire for 'leanest liveable weight' goal that appeared on her lifestyle website Goop as scientists condemn the 'dangerous suggestion' </a>
  </h2>

In [0]:
number_of_articles = 10

In [0]:
# Empty lists for content, links and titles
news_contents = []
list_links = []
list_titles = []

for n in np.arange(0, number_of_articles):
        
    # Getting the link of the article
    link = url + coverpage_news[n].find('a')['href']
    list_links.append(link)
    
    # Getting the title
    title = coverpage_news[n].find('a').get_text()
    list_titles.append(title)
    
    # Reading the content (it is divided in paragraphs)
    article = requests.get(link)
    article_content = article.content
    soup_article = BeautifulSoup(article_content, 'html5lib')
    body = soup_article.find_all('p', class_='mol-para-with-font')
    
    # Unifying the paragraphs
    list_paragraphs = []
    for p in np.arange(0, len(body)):
        paragraph = body[p].get_text()
        list_paragraphs.append(paragraph)
        final_article = " ".join(list_paragraphs)
        
    # Removing special characters
    final_article = re.sub("\\xa0", "", final_article)
        
    news_contents.append(final_article)

In [0]:
df = pd.DataFrame(
     {'Article Title': list_titles,'Article Content': news_contents,
    })

In [0]:
df

                                       Article Title                                    Article Content
0  Parents of British teenager who was killed by ...  The family of Harry Dunn flew to the US yester...
1  'There is blood on Trump's hands': Retired fou...  A retired four-star Marine general has slammed...
2  Ten-year-old girl dies after 'being ejected' f...  A ten-year-old girl died after plunging from a...
3  Elton John brands Michael Jackson 'mentally il...  Sir Elton John has branded late pop superstar ...
4  Awkward! Chelsea Clinton emphatically states a...  It may appear Hillary and Chelsea Clinton alwa...
5  Couple who are 'luring children to their car w...  A couple said to have abducted a three-year-ol...
6  MSNBC president  Phil Griffin 'smirked as he w...  The president ofMSNBC waved around a zoomed-in...
7  Three assisted living facility workers 'videot...  Three North Carolina assisted living facility ...
8  Gunman who 'opened fire in revenge attack' at ...  The gunman who shot a brideand the bishop pres...
9  Graphic spoof mass shooting video showing Dona...  A horrifically violent video which depicts Pre...

In [0]:
export_csv = df.to_csv (r'dailymail.csv', index = None, header=True)

In [0]:
df=pd.read_csv('dailymail.csv')

In [0]:
df

                                       Article Title                                    Article Content
0  'Unlike Botham Jean, I don't want no hug': Fat...  The father of the black 28-year-old aspiring d...
1  'There is blood on Trump's hands': Retired fou...  A retired four-star Marine general has slammed...
2  Syrian Kurds abandoned by Trump ask President ...  Syria's Kurds said Syrian government forces ag...
3  Elton John brands Michael Jackson 'mentally il...  Sir Elton John has branded late pop superstar ...
4  Ten-year-old girl dies after 'being ejected' f...  A ten-year-old girl died after plunging from a...
5  Gwyneth Paltrow comes under fire for 'leanest ...  Gwyneth Paltrow has come under fire from diet ...
6  Man suspected of snatching three-year-old girl...  Police have detained a man suspected of snatch...
7  Israeli-American woman, 26, sentenced by Russi...  An Israeli-American woman who was sentenced to...
8  Mother, 40, is stabbed to death with a screwdr...  A 40-year-old mother has been stabbed to death...
9  Parents of British teenager who was killed by ...  The family of Harry Dunn flew to the US yester...